{% extends "base.html" %}

{% block meta %}
<meta name="author" content="{{ article.author.name }}" />
<meta name="description" content="{{ article.summary|striptags|escape }}" />
<meta name="keywords" content="{{ article.tags|join(', ')|escape }}">
{% endblock meta%}

{% block title %}
    {{ article.title|striptags|escape }} &ndash; {{ SITENAME }}
{% endblock title %}


{% block header %}

<h1 id="{{ article.slug }}"
    class="header-title"
    style="border-left: 10px solid #047bb5; padding-left: 0.5em;">
    {{ article.title }}
</h1>

{% endblock header %}


{% block content %}

<div class="article-meta mb-4 fst-italic">
    {{ article.date.strftime('%B %d, %Y') }}
</div>

<div class="main-article">
    {{ article.content }}
</div>

{% endblock content %}