<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{{ SITENAME }}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../{{ THEME_STATIC_DIR }}/img/favicon.ico" rel="icon">
    <link href="../{{ THEME_STATIC_DIR }}/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../{{ THEME_STATIC_DIR }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../{{ THEME_STATIC_DIR }}/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../{{ THEME_STATIC_DIR }}/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../{{ THEME_STATIC_DIR }}/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../{{ THEME_STATIC_DIR }}/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../{{ THEME_STATIC_DIR }}/css/style.css" rel="stylesheet">

    <!-- Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    {% include '_header.html' %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center bg-lab-img">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>
                        Clinical NLP Lab
                    </h1>
                    <h2>
                        Led by Dr. Hua Xu at Biomedical Informatics and Data Science, Yale School of Medicine
                    </h2>
                    <div class="d-flex">
                        <a href="./research.html" class="btn-get-started scrollto">Our Research</a>

                        <a href="./2024-recruitment.html" class="btn-next mx-2 scrollto">We are hiring!</a>
                    </div>
                </div>

            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services">
            <div class="container">


                <div class="section-title mt-4">
                    <h2>About</h2>
                    <p>
                        Our lab has been devoted to developing novel NLP methods, software, and applications for diverse biomedical texts, such as clinical notes, biomedical literature, and social media.
                        
                        These three areas complement each other: new methods lead to software that are used by many researchers, software facilitates clinical applications, and successful applications reveal where there is need for new methods, closing the loop and forming an ecosystem of our research activities in clinical NLP. 
                    </p>
                </div>
                


                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="fa-solid fa-scroll"></i>
                            </div>
                            <h4 class="title"><a href="javascript:void(0);">Methods</a></h4>
                            <p class="description">Developing novel methods for various challenging clinical NLP topics, such as named entity recognition, word sense disambiguation, syntactic parsing, semantic role labeling, active learning, and now large language models (LLMs). 
                                
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="fa-solid fa-cubes"></i>
                            </div>
                            <h4 class="title"><a href="javascript:void(0);">Software</a></h4>
                            <p class="description">Building robust clinical NLP software, such as MedEx (Medication Information Extraction System), and CLAMP (Clinical Language Annotation, Modeling, and Processing). The CLAMP tool has been downloaded by over 650 healthcare organizations worldwide, and it has achieved successful commercialization. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="fa-brands fa-uncharted"></i>
                            </div>
                            <h4 class="title"><a href="javascript:void(0);">Applications</a></h4>
                            <p class="description">Applying clinical NLP technologies to clinical and translational research and clinical practice. We have collaborated with clinical investigators and successfully conducted many important clinical and translational studies using electronic health records. 
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </section><!-- End Featured Services Section -->


        <!-- Challenge Records Section -->
        <section id="challenge-records">
            <div class="row px-5 justify-content-center">
                <div class="col-md-10">

                    <div class="section-title">
                        <!-- <span>Software and Services</span> -->
                        <h2>
                            Biomedical NLP Challenges
                        </h2>
                        <p>
                            We have participated in many NLP challenges and have achieved top rankings in many of them.
                        </p>
                    </div>

                    <table class="table">
                        <tr>
                            <th colspan="2">NLP Challenge Tasks</th>
                            <th>Ranking</th>
                        </tr>
                        <tr>
                            <td rowspan="4">
                                Named entity recognition
                            </td>
                            <td>
                                2009 i2b2 medication information extraction
                            </td>
                            <td>
                                #2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2010 i2b2 problem, treatment, test extraction
                            </td>
                            <td>
                                #2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2013 SHARe/CLEF abbreviation recognition
                            </td>
                            <td>
                                #1
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2016 CEGS N-GRID, De-identification
                            </td>
                            <td>
                                #2
                            </td>
                        </tr>

                        <tr>
                            <td>
                                UMLS encoding
                            </td>
                            <td>
                                2014 SemEval, disorder encoding
                            </td>
                            <td>
                                #1
                            </td>
                        </tr>


                        <tr>
                            <td rowspan="7">
                                Relation extraction
                            </td>
                            <td>
                                2012 i2b2 Temporal information extraction
                            </td>
                            <td>
                                #1
                            </td>
                        </tr>

                        <tr>
                            <td>2015 SemEval Disease-modifier extraction</td>
                            <td>#1</td>
                        <tr>
                            <td>2015 BioCREATIVE Chemical-induced disease from literature</td>
                            <td>#1</td>
                        <tr>
                            <td>2016 SemEvel, temporal information extraction</td>
                            <td>#1</td>
                        <tr>
                            <td>2017 TAC ADR extraction from drug labels</td>
                            <td>#1</td>
                        <tr>
                            <td>2018 n2c2, medication and associated ADR</td>
                            <td>#1</td>
                        <tr>
                            <td>2022 LitCoin Challenge on literature mining</td>
                            <td>#2</td>

                    </table>
                </div>
            </div>

        </section>

        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Example Software Tools</h2>
                    <p>
                        Our lab has developed a number of software tools to support clinical NLP research and
                        applications.
                    </p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </div>
                            <h4><a href="https://clamp.uth.edu/">
                                CLAMP
                            </a></h4>
                            <p>Clinical Language Annotation, Modeling, and Processing Toolkit</p>
                        </div>
                    </div>

                    <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="fa-regular fa-comments"></i>
                            </div>
                            <h4><a href="javascript:void(0);">
                                LLM-based Chat
                            </a></h4>
                            <p>
                                A large language model fine-tuned with biomedical and clinical data
                            </p>
                        </div>
                    </div> -->

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box w-100">
                            <div class="icon"><i class="bx bx-world"></i></div>
                            <h4><a href="https://datamed.org/">
                                DataMed
                            </a></h4>
                            <p>
                                Biomedical data index and search engine
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 ">
                        <div class="icon-box w-100">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2995636/">
                                MedEx
                            </a></h4>
                            <p>
                                Medication information extraction system
                            </p>
                        </div>
                    </div>

                    <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="fa-regular fa-newspaper"></i>
                            </div>
                            <h4><a href="javascript:void(0);">
                                CARD
                            </a></h4>
                            <p>
                                Clinical Abbreviation Recognition and Disambiguation
                            </p>
                        </div>
                    </div> -->

                    <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box w-100">
                            <div class="icon"><i class="bx bx-slideshow"></i></div>
                            <h4><a href="javascript:void(0);">
                                BIKE
                            </a></h4>
                            <p>
                                Biomedical Knowledge Explorer
                            </p>
                        </div>
                    </div> -->

                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <span>Contact us</span>
                    <h2>Contact us</h2>
                    <p>Have questions or want to learn more about our lab's research and expertise? Please don't hesitate to reach out.</p>
                </div>

                <div class="row justify-content-center">

                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="address">
                            <h4>Location:</h4>
                            <p>100 College Street, New Haven, CT 06510</p>
                        </div>


                    </div>

                    <div class="col-md-6 d-flex justify-content-center">

                        <div class="email">
                            <h4>Email:</h4>
                            <p>
                                <img height="20px" src="../{{ THEME_STATIC_DIR }}/img/email.jpg" alt="email">
                            </p>
                        </div>

                    </div>


                </div>

            </div>
        </section><!-- End Contact Section -->


    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">


        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Clinical NLP Lab</span></strong>. All Rights Reserved
            </div>

            <div class="credits" style="color: #dddddd;">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/enno-free-simple-bootstrap-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../{{ THEME_STATIC_DIR }}/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../{{ THEME_STATIC_DIR }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../{{ THEME_STATIC_DIR }}/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../{{ THEME_STATIC_DIR }}/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../{{ THEME_STATIC_DIR }}/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../{{ THEME_STATIC_DIR }}/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../{{ THEME_STATIC_DIR }}/js/main.js"></script>

</body>

</html>