<!-- ======= Research Section ======= -->
<section class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <img src="assets/img/about.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Large Language Models</h3>
                <p class="fst-italic">
                    Our lab is a pioneer in harnessing advanced Language Models (LLMs), including but not limited to
                    LLaMA and GPT, to extract valuable insights from diverse medical texts. From electronic health
                    records to scientific literature, we employ these models to decode complex medical narratives and
                    uncover hidden knowledge.
                </p>
                <!-- <ul>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                    <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda</li>
                </ul>
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.
                </p> -->
            </div>
        </div>

    </div>
</section>


<!-- ======= Research Section ======= -->
<section class="about section-bg">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 content">
                <h3>DataMed</h3>
                <p class="fst-italic">
                    Our lab is a pioneer in harnessing advanced Language Models (LLMs), including but not limited to
                    LLaMA and GPT, to extract valuable insights from diverse medical texts. From electronic health
                    records to scientific literature, we employ these models to decode complex medical narratives and
                    uncover hidden knowledge.
                </p>
                <!-- <ul>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                    <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda</li>
                </ul>
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.
                </p> -->
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 ">
                <img src="assets/img/about.png" class="img-fluid" alt="">
            </div>
        </div>

    </div>
</section>


<!-- ======= Research Section ======= -->
<section class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <img src="assets/img/about.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>BIKE</h3>
                <p class="fst-italic">
                    Our lab is a pioneer in harnessing advanced Language Models (LLMs), including but not limited to
                    LLaMA and GPT, to extract valuable insights from diverse medical texts. From electronic health
                    records to scientific literature, we employ these models to decode complex medical narratives and
                    uncover hidden knowledge.
                </p>
                <!-- <ul>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                    <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda</li>
                </ul>
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.
                </p> -->
            </div>
        </div>

    </div>
</section>
<!-- End About Section -->